body {
    background-color: $websiteBgColor;

    main {
        font-family: $websiteFont;
        color: $corporateColor;

        .bgPhoto {
            position: relative;

            .bgText {
                position: absolute;
                padding: 0 50px;
                bottom: 370px;
                font-size: 65px;
                color: $textColorLight;
            }

            h3 {
                @extend .bgText;
                bottom: 320px;
                font-size: 35px;
            }
        }

        .features {
            display: flex;
            margin: 30px auto;
            max-width: 800px;
            

            .simplicity {
                text-align: center;

                & img,
                p {
                    padding: 25px;
                } 
            }

            .functionality {
                @extend .simplicity;
            }

            .fast {
                @extend .simplicity;
            }

        }
    }

}