$corporateColor: #95a5a6;
$websiteFont: Verdana, Tahoma, sans-serif;
$websiteFontSize: 18px;
$textColorLight: #fff;
$websiteBgColor: #ecf0f1;
$websiteHover: magenta
;
$websiteHoverShadow: rgb(255, 111, 255);